* {
  box-sizing: border-box;
}
body {
  background-color: steelblue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: lightblue;
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
}
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}
.text {
  margin-top: 30px;
}
.form-control {
  position: relative;
  margin: 20px 0;
  width: 300px;
}
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  /* border-bottom-color:lightblue; */
}
.form-control label {
  position: absolute;
  top: 20px;
  left: 0;
  /* border: 1px solid red; */
}
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: .3s ease;
}
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
