*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(63, 39, 39);
    cursor: pointer;
    flex: .4;
    margin: 10px ;
    position: relative;
    transition: flex,opacity .3s ease-in;
    border: 2px solid gray;

}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 30px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
}

@media (max-witdh:480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}