@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "poppins", sans-serif;
}
.slide-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slide-content{
    margin: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
body{
    min-height: 100vh;
    background-color: #efefef;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    opacity: 0;
    display: none;
    transition: opacity .4 linear;
}
.active{
    opacity: 1;
    display: block;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 50%;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border:4px solid #4070f4;
}
.name{
    font-size: 22px;
    font-weight: 500;
    color: #333;

}
.description{
    font-size:20px ;
    color: #707070;
    text-align: center;
    line-height: 25px;

}
.btn-containers{
    display: flex;
    gap: 50px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform:translate(0%, -80%);
}
.btn-containers button{
    border: none;
}
.btn-containers button i{
    font-size: 25px;
    color: #4070f4;
}
