*{
    margin: 0;
    left: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.span{
    width: 20px;
    height: 20px;
    background: linear-gradient(to top, red , yellow);
    position: absolute;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}